.container__archive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-left: 0;
}
@media (max-width: 1200px) {
  .container__archive {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .container__archive {
    grid-template-columns: 1fr;
  }
}
.container__archive li {
  list-style: none;
}