.container__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  padding: 0px 0;
}
@media (max-width: 480px) {
  .container__icons {
    column-gap: 30px;
  }
  
}
.div__icon {
  color:#EDF2F4;
  cursor: pointer;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}
.div__icon:hover {
  color:#FF8600;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}