.container__img {
    width: 25vw;
}
@media (max-width: 980px) {
    .container__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}
.img__picture {
    width: 100%;
}
@media (max-width: 980px) {
    .img__picture {
        width: 40vw;
    }
}
@media (max-width: 630px) {
    .img__picture {
        width: 70vw;
    }
}
@media (max-width: 480px) {
    .img__picture {
        width: 100%;
    }
}