.container__card {
  width: 100%;
  background-color: #2B2D42;
  position: relative;
  overflow: hidden;
}
.card__image {
  width: 100%;
}
.card__image img{
  width: 100%;
}
.card__content {
  display: block;
  padding: 15px 12px 15px 12px;
  color: #F1F2F6;
  min-height: 100px;
}
.card__content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card__content p {
  font-size: 14px;
  font-weight: 500;
}
.info__card {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #F4F9FC;
  background-color: #2b2d42fb;
  z-index: 5;
  top: 50%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.info__card-hover {
  top: 0;
}
.info__card--description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.info__card--description p {
  padding-bottom: 10px;
  border-bottom: solid 3px #FF8600;
}
.content__access {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__access--icons {
  display: flex;
  column-gap: 10px;
  color: #FF8600;
}
.content__access--btn button{
  background-color: transparent;
  border: 1px solid #FF8600;
  color: #FF8600;
  font-size: 14px;
  padding: 5px 10px;
}
.info__card--close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FF8600;
  cursor: pointer;
}