.c-section {
  display: flex;
  justify-content: center;
  padding: 50px 10%;
  background-color: #01161e;
  border-bottom: 1px solid #3f2202;
}
@media (max-width: 980px) {
  .c-section {
    padding: 50px 5%;
  }
}
.section__content {
  max-width: 1440px;
  width: 100%;
}
.div__title {
  margin-bottom: 50px;
}