.c-section {
  display: flex;
  justify-content: center;
  padding: 50px 10%;
  background-color: #EDF2F4;
  border-bottom: 1px solid #94d2bd;
}
.section__content {
  max-width: 1440px;
  width: 100%;
}
.div__title {
  margin-bottom: 50px;
}