.section__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #01161e;
  border-bottom: 1px solid #3f2202; 
  padding: 0px 10%;
  position: relative;
}
@media (max-width: 980px) {
  .section__hero {
    min-height: auto;
    padding: 150px 5%;
  }
}
@media (max-width: 620px) {
  .section__hero {
    padding: 150px 5% 80px 5%;
  }
}
.div__hero {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  position: relative;
}
@media (max-width: 980px) {
  .div__hero {
    display: block;
    min-height: auto;
  }
}
.div__picture {
    width: 40%;
}
@media (max-width: 980px) {
  .div__picture {
    width: 100%;
  }
}
.div__content {
    width: 60%;
}
@media (max-width: 980px) {
  .div__content {
    width: 100%;
  }
}
.div__slider {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 980px) {
  .div__slider {
    bottom: -150px;
    right: 0;
  }
}
@media (max-width: 620px) {
  .div__slider {
    bottom: -80px;
    right: 0;
  }
}

