.container__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 980px) {
  .container__skills {
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}
@media (max-width: 680px) {
  .container__skills {
    grid-template-columns: 1fr 1fr;
    
  }
}

.item__skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;

}
@media (max-width: 460px) {
  .item__skill {
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid #2B2D42;
    padding-bottom: 10px;
    width: 100%;
  }
}
.div__image img{
  height: 35px;
}
@media (max-width: 460px) {
  .div__image img {
    height: 45px;
  }
}