.container__skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 25%));
  row-gap: 40px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.item__skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.div__image img{
  width: 60px;
}