.nav {
    background-color: #2B2D42;
    padding: 10px 10%;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.row__nav {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}
.div__img{
    width: 100px;
}
.div__img img{
    width: 80%;
}