html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Black.ttf') ;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-ExtraBold.ttf') ;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Bold.ttf') ;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-SemiBold.ttf') ;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Medium.ttf') ;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Regular.ttf') ;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Light.ttf') ;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Thin.ttf') ;
  font-style: normal;
  font-weight: 200;
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1em;
}
p {
  margin: 0;
}
h2 {
  font-family:'Gilroy' Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  
}
span {
  font-family:'Gilroy' Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
